<header class="app-header">
  <div class="header-content">
    <div class="logo">
      <img src="/assets/Images/logo.png" alt="Café Amazon Logo" class="logo">
      <div class="logo-section">
        <div class="brand-name">Café Amazon @ CS-MSU</div>
      <div class="user-info">
        <div class="user-name">{{ auth.currentUser?.username }} ({{ auth.currentUser?.role }})</div>
      </div>
      </div>
      
    </div>
    
    <div class="user-section">
      
      <button class="btn-logout" (click)="logout()">
        <mat-icon>logout</mat-icon>
        ออกจากระบบ
      </button>
    </div>
  </div>
</header>