.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.example-card {
  padding: 0.7rem;
  width: 100%;
  max-width: 370px;
  background: rgba(255, 255, 255, 0.3); // ขาวใส 20%

  mat-card-title {
    text-align: center; // จัด title อยู่ตรงกลางใต้ avatar
    margin: 0 0 20px 0;
  }

  mat-card-header {
    display: flex;
    flex-direction: column; // ให้ header เป็นแนวตั้ง
    align-items: center; // จัดกลางทั้งแนวนอน

    img {
      width: 150px; // ขนาดใหญ่ขึ้น
      height: 100%; // ขนาดใหญ่ขึ้น
      margin: 0 0 32px 0; // เว้นระยะด้านล่างจาก title
    }
  }
}

mat-form-field {
    width: 100%;
}

.detail {
    text-align: center;
}

mat-card-actions {
  width: 100%; // ให้ container ของปุ่มเต็มความกว้าง

  button {
    width: 100%;               // ให้ปุ่มเต็ม container
    padding: 1.6rem !important; 
    border-radius: 4px;       
    background-color: rgb(233, 124, 0);
    color: #fff !important;
    font-size: 16px;
    display: flex;             
    align-items: center;       
    justify-content: center;   
  }
}