
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$magenta-palette,
      tertiary: mat.$violet-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;
  height: 100%;
  margin: 0;
  font: var(--mat-sys-body-medium);
  color: var(--mat-sys-on-surface);

  // background ครอบเต็มหน้าจอ
  background: url('/assets/Images/bg.jpeg') no-repeat center top fixed;
  background-size: cover;

  // header e4 เป็น pseudo-element
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 340px; // <-- ปรับความสูงเอง
    background: url('/assets/Images/e4a8790137dd4dadac10e704e3d92700.png') no-repeat center top;
    background-size: 100% 100%; // กว้างเต็ม สูงตามที่กำหนด
    z-index: 0;
  }
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
